<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>

    <section class="home">
        <div class="main">

            <% for (i = 0; i < posts.length; i++) { %>
                <div class="card">
                    <a href="#" style="color: black;">
                        <div class="title">
                            <p class="timestamp"><%= posts[i].date; %></p>
                            <h2><%= posts[i].title; %></h2>
                        </div>
                        <img src="img/wia_1.JPG%>" alt="">
                        <p>
                            <%= posts[i].article.slice(0, 180); %>...
                        </p>
                    </a>
                </div>
            <%  } %>
        </div>

        <div class="side">
            <div class="card">
                <h2>About</h2>
                <p>
                    At Betty Agro-Tourism, we merge agriculture and tourism by inviting visitors to farms. They can pick produce, learn about sustainable practices, and engage in hands-on activities. Our aim is to bridge urban-rural gaps, fostering appreciation for farming and sustainability.
                </p>
            </div>
            <div class="card xs-hid">
                <h2>Popular Stories</h2>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); %>