<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>

    <section class="post">
        <div class="main">

            <% for (i = 0; i < posts.length; i++) { %>
                <div class="card" href="/post">
                    <a href="#" style="color: black;">
                        <div class="title">
                            <p class="timestamp"><%= posts[i].date; %></p>
                            <h2><%= posts[i].title; %></h2>
                        </div>
                        <img src="img/<%= posts[i].image; %>" alt="">
                        <p>
                            <%= posts[i].article.slice(0, 180); %>...
                        </p>
                    </a>
                </div>
            <%  } %>
        </div>

        <div class="side">
            <div class="card">
                <h2>About</h2>
                <p>
                    We promote Agriculture and tourism as farmers and ranchers invite public into their property to experience out of door, healthy, nutritious produce, enjoy entertainment and participate in activities at the farm.
                </p>
            </div>
            <div class="card xs-hid">
                <h2>Popular Stories</h2>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); %>