<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>

    <section class="post">
        <div class="main">
            <div class="card">
                <div class="title">
                    <p class="timestamp"><%= date %></p>
                    <h2><%= title %></h2>
                </div>
                <img src="img/<%= image %>" alt="">
                <p>
                    <%= article %>
                </p>
            </div>

            <div class="card">
                <div class="title">
                    <p class="timestamp">2 years ago in Lifestyle</p>
                    <h2>Oh! I guess they have the blues</h2>
                </div>
                <img src="img/img2.jpg" alt="">
                <p>
                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                </p>
            </div>
        </div>

        <div class="side">
            <div class="card">
                <h2>About</h2>
                <p>
                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                </p>
            </div>
            <div class="card xs-hid">
                <h2>Popular Stories</h2>
                
            </div>
        </div>
    </section>

    <footer>
        <ul>
            <li><a href="">TERMS</a></li>
            <li><a href="">ADVERTISE</a></li>
            <li><a href="views/contact.html">CONTACT</a></li>
        </ul>

        <div>
            <p>&copy; BETTY AGRO-TOURISN 2024 || ALL RIGHTS RESERVED<br>
            Designed by AKPET, Kohly M. Obaji</p>
        </div>
    </footer>


    <script src="js/script.js"></script>
</body>
</html>